# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
.env
backend/.venv
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing and coverage
.cache
.pytest_cache/
.tox/
.noscript/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.flake8
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Environment variables and secrets (Never commit these!)
.env
.env.secret
.env.shared

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
s

/vision/node_modules
venv